<!DOCTYPE html PUBLIC "-//WC//DTD XHTML . Strict//EN"
	"http://www.w.org/TR/xhtml/DTD/xhtml-strict.dtd">
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" xmlns="http://www.w.org//xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>
<body>
	<f:layout name="Default" />
	<f:section name="content">
		<f:security.ifAuthenticated>
			<f:then>
				<f:render section="authenticated" arguments="{_all}" />
			</f:then>
			<f:else>
				<f:render section="nonauthenticated" arguments="{_all}" />
			</f:else>
		</f:security.ifAuthenticated>
	</f:section>
	<f:section name="authenticated">
		<f:asset.script identifier="ckeditor.js" src="EXT:message_board/Resources/Public/JavaScript/ckeditor/build/ckeditor.js" />
		<f:asset.script identifier="tx_messageboard_custom.js" src="EXT:message_board/Resources/Public/JavaScript/tx_messageboard_custom.js" defer="true" />
		<div class="container pl-0">
			<f:if condition="!{isCurrentUserMessagePersistent}">
				<f:form action="save" name="currentUserMessage" object="{currentUserMessage}" enctype="multipart/form-data">
					<div class="row ">
						<div class="col ">
							<h1 class="small">
								<f:translate key="messageboard.form.ownMessage.create" />
							</h1>
						</div>
					</div>
					<div class="row ">
						<div class="col col-lg-11 form-check  pb-3">
							<f:form.textarea id="text" property="text" class="form-control" />
						</div>
						<div class="col form-check ">
							<f:form.submit class="btn btn-primary btn-lg" value="{f:translate(key: 'messageboard.form.create.submit')}" />
						</div>
					</div>
				</f:form>
			</f:if>
			<f:for each="{messages}" as="message">
				<f:if condition="{message.user.uid} == {currentUser.uid}">
					<f:then>
						<f:form action="save" name="currentUserMessage" object="{currentUserMessage}" enctype="multipart/form-data">
							<div class="row ">
								<div class="col">
									<h1 class="small">
										<f:translate key="messageboard.form.ownMessage.editOrDelete" />
									</h1>
								</div>
							</div>
							<div class="row ">
								<div class="col-lg-10 col-md-12 form-check pb-3 ">
									<f:form.textarea id="text" property="text" class="form-control" />
								</div>
								<div class="col col-lg-2 form-check">
									<f:form.submit class="btn btn-primary btn-lg" value="{f:translate(key: 'messageboard.form.update.submit')}"
										title="{f:translate(key: 'messageboard.form.update.submit.title')}"
									/>
									<f:link.action class="btn  btn-primary btn-lg" action="remove" title="{f:translate(key: 'messageboard.form.remove.submit.title')}">
										<f:translate key="messageboard.form.remove.submit" />
									</f:link.action>
								</div>
							</div>
						</f:form>
					</f:then>
					<f:else>
						<div class="form-group">
							<div style="margin-top: 2em; resize: vertical; overflow: auto; min-height: 12em; max-height: 35em; border: 1px black solid;">
								<div style="background-color: silver; padding: 1em;">
									<f:if condition="{userLink}">
										<f:then>
											<f:link.typolink parameter="{userLink}#name_{message.user.username}">{message.user.firstName} {message.user.lastName}</f:link.typolink>
										</f:then>
										<f:else>{message.user.firstName} {message.user.lastName}</f:else>
									</f:if>
									<span class="small">&nbsp; &nbsp; ({message.timestamp->f:format.date(format:'d.m.Y - H:i:s')})</span>
								</div>
								<div style="padding: 1em;">{message.text -> f:format.html()}</div>
							</div>
						</div>
					</f:else>
				</f:if>
			</f:for>
		</div>
	</f:section>
	<f:section name="nonauthenticated">
		<div class="card-body">
			<div class="card-text">
				<f:translate key="commitmentSettings.error.notLoggedIn" />
			</div>
		</div>
	</f:section>
</body>
</html>
