<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:c="http://typo3.org/ns/Cylancer/Participants/ViewHelpers"
	data-namespace-typo3-fluid="true"
>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<f:layout name="MessageBoardInfoMail" /><f:section name="content"><div><f:translate key="LLL:EXT:cy_messageboard/Resources/Private/Language/locallang.xlf:task.messageBoardInformation.infoMail.salutation" arguments="{0:user.name}" /><br /><br /></div>

	<f:variable name="link"><f:link.page linkAccessRestrictedPages="true"  absolute="true" pageUid="{pageUid}" noCache="true" ><f:format.stripTags>{message.text -> f:format.crop(maxCharacters: 40)}</f:format.stripTags></f:link.page></f:variable>
	<f:format.raw><f:translate key="LLL:EXT:cy_messageboard/Resources/Private/Language/locallang.xlf:task.messageBoardInformation.infoMail.teaser"  arguments="{0:link}" /></f:format.raw>

	<div><f:translate key="LLL:EXT:cy_messageboard/Resources/Private/Language/locallang.xlf:task.messageBoardInformation.infoMail.body" /><br /></div>
	<div><f:translate key="LLL:EXT:cy_messageboard/Resources/Private/Language/locallang.xlf:task.messageBoardInformation.infoMail.footer" /><br /></div> 
	<div><f:translate key="LLL:EXT:cy_messageboard/Resources/Private/Language/locallang.xlf:task.messageBoardInformation.infoMail.regards" /><br /></div> 
</f:section></body></html>
